include mxs


!!! 5
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script.
          _app = wappyApp = '#{app}'
          _pam = wappyPam = '#{pam}'

        +S(['us', 'string', 'both','jq', 'serialize','oo', 'js', 'html', 'css', 'image', 'can', 'ctx'])
        +S(['cjs','cjsMC','advancedEasel','easel0','EDProto','displayObProto','ctProto','queueProto','shapeProto'])
        +S(['shapeProtoGeo','shapeProtoColor','textProto','gxProto', 'tran','easel','filt'])
        +S([ 'anim','anims',  'tweenApps'])


        +S(['bx','b2dutils'])
        +S(['debugProto','fixtProto','polyShapeProto', 'bodyProto'])
        +S(['b2dPlugs'])
        +S(['worldProto', 'makeBody', 'makeFixts'])
        +S(['mJoint', 'coll', 'collFilters', 'ray'])
        +S(['co','joints', 'edge'])
        +S(['gpcasLib', 'geo'])



        +S(['spaz','wall', 'makeworld', 'scrolling', 'player'])

        +S([ 'spazApps','games','netguy', 'play','collApps','cxApps'])

        body