include mxs

!!! 5
html(lang="en")

    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script.
          _app = wappyApp = '#{app}'
          _pam = wappyPam = '#{pam}'
          console.log('wap.jadee')



        +S(['us', 'string', 'both','jq', 'serialize','oo', 'js', 'html', 'css', 'image', 'can', 'ctx'])

        +S(['cjs','cjsMC','advancedEasel','easel0','EDProto','displayObProto','ctProto','queueProto','shapeProto'])
        +S(['shapeProtoGeo','shapeProtoColor','textProto','gxProto', 'tran','easel','filt',  'anim'])
        +S(['anims','tweenApps'])




        +css('bs')
        //+css('themes')
        //+css('jquery-ui') ****
        +S([ 'bs','boot'])
        +S(['forWappy', 'defaultMug','yourMug','bodArt'])
        +S(['appUI','edit', 'upload','henApps'])
        +S(['socket.io/socket.io','socks', 'chat'])
        +S(['app'])


    body




























