include mxs



!!! 5
html(lang="en")

    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script.
          _app = wappyApp = '#{app}'
          _pam = wappyPam = '#{pam}'
          console.log('wap.jadee')

        +css('bs')
        //+css('themes')
        //+css('jquery-ui') ****

        //BOTH
        +S(["us",'string','both','bothUnder','bothMath','bothTime','bothString'])


        //FRONT
        +S(['jq', 'oo'])
        +S(['background','color','klass','layout','manip','textFont','WH','XYZ'])
        +S(['els', 'html','imageBoth','inputs','ipsum','NestedEl','semantic'  ])
        +S(['ajax', 'drag', 'events', 'keys','$mouse','scripts'])
        +S(['CSS'])

        //can
        +S(['context', 'superCan'])
        
        +S(['bootstrap', 'boot', 'nav', 'modal', 'bootTab', 'bootImg'])
        //+S(['jqui','jqUIbasics','jqAnim'])

        //CREATE
        +S(['cjs','easel0'])
        +S(['EDProto','displayObProto','ctProto','queueProto','shapeProto','shapeProtoGeo','shapeProtoColor','textProto','gxProto'])
        +S(['images','ticker','queue','tranny'])
        +S(['displayObject','bitmap'])
        +S(['shape'])
        +S(['textOb','filt','advancedEasel','yourMug','bodArt'])
        +S(['spriteSheets', 'sprites'])
        +S(['defaultMug', 'socket.io/socket.io'])
        +S(['appUI'])
        +S(['edit', 'upload'])
        +S(['socks', 'chat'])
        +S(['henApps'])

        +S(['app'])
    body




























