include mxs

!!! 5
html(lang="en")

    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script.
          _app = wappyApp = '#{app}'
          _pam = wappyPam = '#{pam}'
          console.log('wap.jadee')

        +css('bs')
        //+css('themes')
        //+css('jquery-ui') ****

        +S(['us', 'string', 'both','jq', 'oo', 'js', 'html', 'css', 'image', 'can', 'ctx'])


        +S(['serialize', 'bs','boot'])



        //CREATE
        +S(['cjs','cjsMC','advancedEasel','easel0','EDProto','displayObProto','ctProto','queueProto','shapeProto','shapeProtoGeo','shapeProtoColor','textProto','gxProto'])


        +S(['images','ticker','queue','tranny'])
        +S(['displayObject','bitmap'])
        +S(['shape'])
        +S(['textOb','filt' ])



        +S(['spriteSheets', 'sprites'])








        +S(['defaultMug','yourMug','bodArt', 'socket.io/socket.io'])


        +S(['appUI'])
        +S(['edit', 'upload'])
        +S(['socks', 'chat'])
        +S(['henApps'])

        +S(['app'])
    body




























