include mxs

!!! 5
html(lang="en")

    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script.
          _app = wappyApp = '#{app}'
          _pam = wappyPam = '#{pam}'
          console.log('wap.jadee')

        +css('bs')
        //+css('themes')
        //+css('jquery-ui') ****

        +S(['us', 'string', 'both'])
        +S(['jq', 'serialize','oo'])
        +S(['js', 'html', 'css', 'image', 'can', 'ctx'])
        +S(['boot'])

        //CREATE
        +S(['cjs','easel0'])
        +S(['EDProto','displayObProto','ctProto','queueProto','shapeProto','shapeProtoGeo','shapeProtoColor','textProto','gxProto'])
        +S(['images','ticker','queue','tranny'])
        +S(['displayObject','bitmap'])
        +S(['shape'])
        +S(['textOb','filt','advancedEasel','yourMug','bodArt'])
        +S(['spriteSheets', 'sprites'])
        +S(['defaultMug', 'socket.io/socket.io'])
        +S(['appUI'])
        +S(['edit', 'upload'])
        +S(['socks', 'chat'])
        +S(['henApps'])

        +S(['app'])
    body




























